.img-fondo{
    background-image: url(./img/viajero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.fondo_nav_contactanos {
    background-color: #051d40 !important;
}

.mapa iframe {
    box-shadow: 10px 5px 5px black  !important;
}

.fondoFooter {
    background-color: #0b0b31;
}

.figure-img {
    display: flex;
}

/* comienza style de whatsapp*/
.div__wsp__boton {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 100% !important;
    background-color: #25D366;
    box-shadow: 1px 1px 15px black;
}

.div__wsp__boton:hover {
    background-color: white;
}

.icon__wsp {
    font-size: 40px;
    margin: 9px;
    color: white;
    z-index: 1;

}

.icon__wsp:hover {
    color: #25D366;
}

/*Termina style de whatsapp*/

@media (max-width:600px) {
    .figure-img {
        width: 250px;
        height: 250px;
    }
}


@media (max-width: 576px) {
    .mapa iframe {
        width: 300px;
        height: 300px;
    }
}